input.pageNumber[type=number]::-webkit-inner-spin-button,
input.pageNumber[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pageNumber {
  width: 3.5rem;
  height: auto;
  text-align: center;
  -webkit-appearance: none;
  display: inline;
  padding: 0;
  border-radius: 0;
  border-color: #ABAAAA;
  border-left: 0;
  border-right: 0;
}