:local(.gender input[type="radio"]) {
  display: none;
}

:local(.gender) {
  height: 35px;
}

:local(.gender label) {
  --width: 30px;
  --height: 34px;
  font-size: 2.8rem;
  margin-left: 2px;
  margin-bottom: 0;
  background-color: #fff;
  width: var(--width);
  height: var(--height);
  border: 1px solid #ccc;
  border-radius: 4px;
}

:local(.gender label:hover) {
  cursor: pointer;
  background-color: #ccc;
}

:local(.gender label:last-child) {
  margin-right: 2px;
}

:local(.gender input:checked+label) {
  color: #5C75B0;
}
